<!-- <div class="p-d-flex p-jc-center p-ai-center bg-p">
  <p-button label="Primary" />
  <p-button label="Secondary" severity="secondary" />
  <p-button label="Success" severity="success" />
  <p-button label="Info" severity="info" />
  <p-button label="Warn" severity="warn" />
  <p-button label="Help" severity="help" />
  <p-button label="Danger" severity="danger" />
  <p-button label="Contrast" severity="contrast" />
</div>

<i class="pi pi-check slateblue"></i>
<i class="pi pi-times green"></i>
<i class="pi pi-search primary-color"></i>
<i class="pi pi-user slategray"></i>

<div class="card flex justify-center">
  <p-autocomplete [(ngModel)]="value" [dropdown]="true" [suggestions]="items" (completeMethod)="search($event)" />
</div> -->

<div class="site-wrapper surface-ground">
  <div class="main-panel">
    <div>Header</div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div>Footer</div>
  </div>
</div>
